<p id="notice"><%= notice %></p>

<h1>
  <%= @peg_group.firm_name %>
</h1>
<% @peg_group.point_of_contacts.each do |poc| %>
  <p>
    <strong>Name:</strong>
    <%= poc.first_name %><%= poc.last_name %>
    <strong>Title:</strong>
    <%= poc.title %>
    <strong>Info:</strong>
    <%= poc.email %>     <%= poc.phone %>

  </p>
<% end %>

<p>
  <strong>Website:</strong>
  <%= @peg_group.website %>
</p>

<h2>Contact Comments</h2>
<% @peg_group.logs.each do |log| %>
  <p>
    <strong>Status:</strong>
    <%= log.status %>
    <strong>Notes:</strong>
    <%= log.notes %>
    <strong>Logged at:</strong>
    <%= log.updated_at %>

  </p>
<% end %>

<h2>Add a contact Log:</h2>
<%= form_for([ @peg_group, @peg_group.logs.build ]) do |form| %>

  <p>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.text_area :status %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h2>Add new point of contact</h2>
<%= form_for([ @peg_group, @peg_group.point_of_contacts.build ]) do |form| %>

  <p>
    <%= form.label :first_name %><br>
    <%= form.text_area :first_name %>
  </p>
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_area :last_name %>
  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_area :title %>
  </p>
  <p>
    <%= form.label :email %><br>
    <%= form.text_area :email %>
  </p>
  <p>
    <%= form.label :phone %><br>
    <%= form.text_area :phone %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_peg_group_path(@peg_group) %> |
<%= link_to 'Back', peg_groups_path %>
